<?php

    /***********************************************************************
     * constants.php
     *
     * Computer Science 50
     * Problem Set 7
     *
     * Global constants.
     **********************************************************************/

    // your database's name
    define("DATABASE", "x");

    // your database's password
    define("PASSWORD", "x");

    // your database's server
    define("SERVER", "x");

    // your database's username
    define("USERNAME", "x");

?>
