/****************************************************************************
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 ***************************************************************************/

.container
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top
{
    /* center contents */
    text-align: center;
    padding-bottom: 10px;
}

#middle
{
    /* center contents */
    text-align: center;
    
}

#middle .nav
{
    display: inline-block;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;

    /* center contents */
    text-align: center;
}

#crew
{
    width:700px;
    margin: auto;
}

#response
{
    width: 500px;
    margin-top: 20px;
    clear: both;
    margin: auto;
    text-align: left;
}
#reason
{
    width: 500px;
    margin-top: 20px;
    clear: both;
    margin: auto;
    text-align: left;
}
#toolbar
{
    text-align: left;
    margin-bottom: 10px;
    margin: auto;
    width: 500px;
}
input[type=radio] {
    display: none;
}
input[type=radio] + label::before {
    content: '';
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 5px;
    
}
input[type=radio]:checked + label::before {
    background-color: #555;
}



.radio2 + label::before {
    width: 0.75em;
    height: 0.75em;
}

.radio3 + label::before {
    width: 1em;
    height: 1em;
}

label.response {
    vertical-align: bottom;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px 16px 16px 0px;
}


table th {
  font-weight: bold;
  background-color: #4CAf50;
  color: white;
 
}
table {
   margin: 0 auto;
   width:auto;
}
table td {
  padding: 8px;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
  
}
#left{
  float:left;
}
#right {
  float:left;
  padding-left: 10px;
}
#formdiv{
  width:700px;
    clear:both;
    margin: 0 auto;
    text-align:center;
}
#btns {
    padding-top: 5px;
}
@media (max-width: 480px) {
#left{  
    padding-bottom: 5px;
}
#right {
    padding-left: 0px;
}
#btns {
    padding-top: 5px;
    text-align: left;
}
#formdiv{
  width:400px;
    clear:both;
    margin: 0 auto;
    
}
h3 {
    font-size: 16px;
}
body {
    font-size: 16px;
}
}